[data-md-color-scheme="hypergrowth"] {
    --md-primary-fg-color:        #3b0626;
    --md-primary-fg-color--light: #6BE2DA;
    --md-primary-fg-color--dark:  #90030C;
    --md-text-link-color:         #6BE2DA;
  }
  